[Unit]
Description=Patty Authorization - ASP.NET Core Project

[Service]
WorkingDirectory=/var/publish/Commons/AuthorizationLinux/publish
ExecStart=/usr/bin/dotnet /var/publish/Commons/AuthorizationLinux/AuthorizationAPI.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=5
KillSignal=SIGINT
SyslogIdentifier=AuthorizationLinux
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
