[Unit]
Description=Settings Driver - ASP.NET Core Project

[Service]
WorkingDirectory=/var/publish/Commons/SettingsDriverLinux
ExecStart=/usr/bin/dotnet /var/publish/Commons/SettingsDriverLinux/SettingsDriver.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=5
KillSignal=SIGINT
SyslogIdentifier=SettingsDriver
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
