[Unit]
Description=SiteLitechCore - ASP.NET Core Project

[Service]
WorkingDirectory=/var/publish/applications
ExecStart=/usr/bin/dotnet /var/publish/applications/SiteLitechCore.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=5
KillSignal=SIGINT
SyslogIdentifier=SiteLitechCore
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
